.App {
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-content: center;
  
 }
 body{
  background-image:linear-gradient(to right,rgb(41, 75, 224),rgb(84, 188, 230))
 }
.card {
  font-size: 0.5rem;
  color: rgb(165, 164, 164);
  border: 1px solid black;
  border-radius: 4.5%;
  width: 250px;
  height: 470px;
  margin: 27px;
  font-family: sans-serif;
  padding: 30px;
  background-color: white;
  
}
span{
  color: black;
  font-size: 2.5rem;
  
}
label{
  color: black;
  font-size: 1rem;
}
p{
  font-size: 15px;
  color: black;
  text-align: left;
}
button{
  background-color: rgb(75, 152, 241);
  border-radius: 45px;
  width: 270px;
  height: 60px;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: center;
  padding: auto;
  font-family: Arial;
  font-style: bold;
  }
.card:hover{
   margin-top: 40px;
}
button:active{
  background-color: rgb(3, 83, 173);
}
